* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid darkorchid;
  height: 10vh;
  align-items: center;

  ul {
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    color: gray;
    li {
      font-size: 3vh;
    }

  }

  h3 {
    line-height: 10vh;
    color: green;
    margin: 2vh;
    font-size: 3vh;
  }

  button {
    height: 5vh;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    margin: 2vh;
    font-size: 2vh;
  }
}

section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid darkorchid;
  
  .h1__p {
    width: 50%; 
    }

  .img {
    width: 50%;
  }
}

  .h1__p {
    margin: 1vh;
    
    h1 {
      font-size: 7vh;
      margin: 2vh;
  }
  p {
    font-size: 3vh;
    margin: 2vh;
    color: gray;
  }
  button {
    padding: 2vh;
    border-radius: 25px;
    color: hotpink;
    border: 2px solid grey;
    background-color: white;
  }
  }

  footer {
    display: flex;
    border: 2px solid darkorchid;
    height: 8vh;
    align-items: center;
    justify-content: center;

    .p__img {
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      align-items: center;
    }

    p {
      color: gray;
      font-size: 3vh;
      line-height: 8vh;
    }

    img {
      width: 3vh;
      height: 3vh;
      line-height: 8vh;
    }
  }

  
  






